name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: psf/black@05f0a8ce1f71fbb36e1e032d3b518c7b945089a2 # 25.11.0

  tests:
    name: "Node CI"
    runs-on: ubuntu-latest
    needs: lint
    steps:
      # Checkout the Repo
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10

      # Install Node 22
      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install Dependencies
        run: pnpm i

      - name: Install Chrome for Puppeteer (necessary because it doesn't get cached)
        run: pnpm install-puppeteer-browser

      - name: Lint Files
        run: pnpm lint

      - name: Verify Build
        run: pnpm build

      - name: Run Tests
        run: pnpm test

  python-tests:
    name: "Python CI"
    runs-on: ubuntu-latest
    steps:
      # Checkout the Repo
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      # Install Python
      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: 3.x

      - name: Run Tests
        run: python ./packages/helpers/python/py_helpers.test.py
